@import "../../../../App";

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .linesText {
    @include nimbus900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;

    .lineContainer {
      position: relative;
      overflow: hidden;

      .lineTitle {
        font-size: 7rem;
        line-height: 9.1rem;
        letter-spacing: 0;
        display: inline-block;
        overflow: visible;
        transform: translateY(70px);
        color: #000;
        text-shadow:
          0 0 0.1rem #fff,
          0 0 0.1rem #fff,
          0 0 0.1rem #fff,
          0 0 0.1rem #fff;
      }

      .lineDetail {
        @include area400();
        font-size: 2rem;
        line-height: 3rem;

        transform: translateY(100%);
        overflow: visible !important;

        z-index: 100;
        pointer-events: none;
        opacity: 0;

        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }

  .pageIndicator {
    @include area600;
    font-size: 3.2rem;
    transform: translate(-1rem);
    display: inline-block;

    .pageNumber {
      padding-bottom: var(--spacing-quarter);
    }
  }
}
