@import "src/App";

.circlesContainer {
  @include flexCenter;
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  overflow: visible;
  cursor: none;

  .centerContainer {
    width: var(--circle-size);
    aspect-ratio: 1/1;
    position: relative;
    overflow: visible;

    .circle {
      opacity: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 0.2rem solid var(--content-text-color);
      position: absolute;
    }

    .circleDark {
      opacity: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 0.2rem solid var(--ourtools-text-color);
      position: absolute;
    }

    .iconContainer {
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute;

      .icon {
        width: 50%;
        margin: auto;
      }
    }
  }
}
