.circleContainer {
  width: var(--circle-size);
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid white;
  margin: var(--spacing-full);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleContainer svg {
  width: 50%;
  height: 50%;
}
