@import "src/App";

@media screen and (min-width: 1536px) {
  .circlesContainer {
    margin: var(--spacing-double) auto;
  }
}

.circlesContainer {
  @include flexCenter;
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  overflow: visible !important;
  cursor: none;
  margin-top: var(--spacing-double);
  margin-bottom: calc(2.5 * var(--spacing-double));

  .centerContainer {
    width: var(--circle-size);
    aspect-ratio: 1/1;
    position: relative;
    overflow: visible;

    .circle {
      opacity: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 0.2rem solid var(--content-text-color);
      position: absolute;
    }

    .circleDark {
      opacity: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 0.2rem solid var(--ourtools-text-color);
      position: absolute;
    }

    .iconContainer {
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: visible;

      .icon {
        width: 33%;
        margin: auto;
        overflow: visible;
      }
    }
  }
}
