@import "/src/App";

.transitionContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .pageNumber {
    font-size: 32px;
    line-height: 64px;
    padding: 32px 16px 0 0;
    @include area600;
  }

  .pageTitle {
    font-size: 64px;
    line-height: 64px;
    @include nimbus900;
  }
}
