@import "src/App";

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--ourtools-background);
  color: var(--ourtools-text-color);

  .content {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 80%;
    gap: var(--spacing-double);

    .bigLinesText {
      @include nimbus900;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 20%;
      overflow: visible;
      margin-right: calc(var(--spacing-double) * 1.5);

      .lineText {
        font-size: 7rem;
        line-height: 5.5rem;
        letter-spacing: 0;
        display: inline-block;
        overflow: visible;
      }
    }

    .pageIndicator {
      @include area600;
      border-bottom: 1px solid;
      z-index: 10;
      overflow: visible;
      font-size: 1.6rem;
      width: 0;

      .pageNumber {
        float: right;
        overflow: visible;
        padding-bottom: var(--spacing-quarter);
      }
    }

    .smallLinesText {
      @include area400;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 20%;
      overflow: visible;
      margin-right: calc(var(--spacing-double) * 1.5);

      .lineText {
        font-size: 1.7rem;
        line-height: 2.6rem;
        letter-spacing: 0;
        display: inline-block;
        overflow: visible;
      }
    }
  }
}
