@import "../../../../App";

.transitionContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .pageNumber {
    font-size: 3.2rem;
    line-height: 6.4rem;
    padding: 3.2rem 1.6rem 0 0;
    @include area600;
  }

  .pageTitle {
    font-size: 6.4rem;
    line-height: 6.4rem;
    @include nimbus900;
  }
}
