@import "src/App";

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .linesContainer {
    display: flex;
    flex-direction: column;
    gap: 5.5rem;

    .email {
      color: var(--content-text-color);
    }

    .linesText {
      @include nimbus900;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: visible;
      margin-right: calc(var(--spacing-double) * 1.5);

      .lineText {
        font-size: 7rem;
        line-height: 8rem;
        letter-spacing: 0;
        display: inline-block;
        overflow: visible;
      }
    }
  }
}
