@import url("https://use.typekit.net/sjy7wus.css");

$colors: (
  "content-background": #000000ff,
  "content-text-color": #ffffffff,
  "content-text-outline-background": #000000ff,
  "content-text-outline-color": #ffffffff,

  "transition-background": #ffffffff,
  "transition-text-color": #000000ff,

  "nav-text-color": #ffffffff,
  "nav-active-crossed-color": #ff0000ff,

  "border-color": #ffffffff,

  "cursor-color": #ffffffff,
);

$spacings: (
  "spacing-double": 32px,
  "spacing-full": 16px,
  "spacing-half": 8px,
  "spacing-quarter": 4px,

  "header-height": 80px,
  "nav-y-offset": 100px,

  "border-radius": 8px,

  "cursor-width": 24px,
  "cursor-height": 24px,
  "cursor-thickness": 3px,
  "cursor-length": 8px,
  "cursor-x-center": calc((var(--cursor-width) / 2) - (var(--cursor-thickness) / 2)),
  "cursor-y-center": calc((var(--cursor-height) / 2) - (var(--cursor-thickness) / 2)),
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  cursor: none;
}

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }

  @each $name, $spacing in $spacings {
    --#{$name}: #{$spacing};
  }
}

/* Fonty */
@mixin font_nimbus_900 {
  font-family: "nimbus-sans-extended", sans-serif;
  font-weight: 900;
  font-style: normal;
}

@mixin font_area {
  font-family: area-normal, sans-serif;
  font-style: normal;
}

@mixin font_area_400 {
  @include font_area;
  font-weight: 400;
}

@mixin font_area_600 {
  @include font_area;
  font-weight: 600;
}

/* Globální styly pro sekce s obsahem i přechody*/
@mixin content {
  background-color: var(--content-background);
  color: var(--content-text-color);
}

@mixin transition {
  background-color: var(--transition-background);
  color: var(--transition-text-color);
}

body {


  #cursor {
    transition: left 0.05s ease-out, top 0.05s ease-out;
    opacity: 0;
    position: absolute;
    z-index: 1000;
    width: var(--cursor-width, 40px);
    height: var(--cursor-height, 40px);

    & #top,
    & #bottom,
    & #left,
    & #right {
      position: absolute;
      background-color: var(--cursor-color);
      border-radius: var(--border-radius) 0 var(--border-radius) 0;
    }

    & #top,
    & #bottom {
      width: var(--cursor-thickness);
      height: var(--cursor-length);
      left: var(--cursor-x-center);
    }

    & #right,
    & #left {
      height: var(--cursor-thickness);
      width: var(--cursor-length);
      top: var(--cursor-y-center);
    }

    #top {
      top: 0;
    }

    #bottom {
      bottom: 0;
    }

    #right {
      right: 0;
    }

    #left {
      left: 0;
    }
  }

  .sections {
    .content,
    .transition {
      height: 100vh;
      width: 100vw;
    }

    .content {
      @include content;
    }

    .transition {
      @include transition;
    }
  }
}
