.boardingContainer {
  width: 100vw;
  height: 100dvh;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: var(--content-background);
  margin: auto;
  left: 0;
  right: 0;
}

.loader {
  width: 26rem;
  aspect-ratio: 1;
  margin: auto;
  object-fit: contain;
  max-width: 100%;
}

@media screen and (min-width: 1536px) {
  .loader {
    width: 40rem;
  }
}
